.vue-slider-rail {
  background-color: #d6d9e1;
}
.vue-slider-dot-handle{
  background-color: #fff;
  border: 2px solid #1cb8ff;
  border-radius: 50%;
}
.vue-slider-dot-handle-focus {
  background-color: #1cb8ff;
  &:after{
    background-color: rgba(28, 184, 255, 0.31);
  }
}
.vue-slider-process, .vue-slider-dot-tooltip-inner{
  background-color: #1cb8ff;
}