<template>
  <div>
    <div class="card-item">
      <div class="img-block">
        <img :src="item.img" alt="">
        <span class="city">{{findCity(item.city).name}}</span>
      </div>
      <div class="body-block">
        <h6 class="title">{{editTitle(item.name)}}</h6>
        <div class="footer-card">
          <div class="category">{{findCategory(item.category).name}}</div>
          <span class="price">${{item.price}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'cardProduct',
    props: ['item'],
    computed: {
      getFilters () {
        return this.$store.getters.returnFilterData
      }
    },
    methods: {
      findCategory (catID) {
        return this.getFilters.category.find(x => x.id === catID)
      },
      findCity (cityID) {
        return this.getFilters.city.find(x => x.id === cityID)
      },
      editTitle (title) {
        if (title.length > 45){
          return title.slice(0, 45) + '...'
        }
        return title
      }
    }
  }
</script>

<style scoped lang="scss">
  .card-item{
    border: 1px solid #ccc;
    margin-bottom: 32px;
    cursor: pointer;
    &:hover {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
      box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
      .img-block {
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          z-index: 99;
          transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          background: rgba(28, 184, 255, 0.4);
        }
      }
    }
    .title{
      text-align: left;
      font-weight: 600;
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  .body-block{
    padding: 20px;
  }
  .img-block {
    position: relative;
    overflow: hidden;
    height: 180px;
    display: block;
    .city{
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      left: 20px;
      bottom: 15px;
      z-index: 99;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    }
    img {
      position: absolute;
      top: 50%;
      Left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      display: block;
      max-width: 100%;
    }
  }
  .footer-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    .category{
      color: #c0c2c6;
      font-size: 12px;
    }
    .price {
      font-weight: bold;
      font-size: 14px;
      color: #000;
    }
  }
</style>
